---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import TrustBar from '../components/TrustBar.astro';
import Features from '../components/Features.astro';
import SocialProof from '../components/SocialProof.astro';
import CTA from '../components/CTA.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Mobazha - Sell Without Middlemen. Get Paid Instantly.">
  <Header />
  <main>
    <Hero />
    <TrustBar />
    <Features />
    <SocialProof />
    <CTA />
  </main>
  <Footer />
</Layout>
